
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/

    /* Mixin
    ----------------------------------------------------------------------- */

    //Linha Padrão
    @mixin row {
        height: 100%;   width: 100%;
        margin: 0;
        padding: 0;
    }

    //Bloco Central
    @mixin article {
        height: 100%;   width: 990px;
        margin: 0 auto;
    }

    //Bloco 50
    @mixin box_50 {
        height: 100%;   width: 50%;
        margin: 0;
        padding: 0;
    }

    //Fonte Padrão
    @mixin default_font {
        font-family: "Open Sans", Arial, Verdana;
        font-size: 15px;
        font-weight: lighter;
    }

    //Background Default
    @mixin gradiente {
        background: #e52667; /* Old browsers */
        background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e52667), color-stop(100%,#e75a41)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #e52667 0%,#e75a41 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg, #e52667 0%,#e75a41 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg, #e52667 0%,#e75a41 100%); /* IE10+ */
        background: linear-gradient(45deg, #e52667 0%,#e75a41 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    //Opacidade
    @mixin opacidade {
        opacity:0.90;
        -moz-opacity: 0.90;
        filter: alpha(opacity=90);
    }


    /* ============================ Animações ============================== */

    /* Servíço
    ------------------------------------------------------------------------ */
        //IOS
        @mixin bg_service-IOS {
            -webkit-animation: bg_service-IOS 0.4s;
            animation: bg_service-IOS 0.4s;
        }

        //ANDROID
        @mixin bg_service-ANDROID {
            -webkit-animation: bg_service-ANDROID 0.4s;
            animation: bg_service-ANDROID 0.4s;
        }

        //WEB
        @mixin bg_service-WEB {
            -webkit-animation: bg_service-WEB 0.4s;
            animation: bg_service-WEB 0.4s;
        }

        //BACKEND
        @mixin bg_service-BACKEND {
            -webkit-animation: bg_service-BACKEND 0.4s;
            animation: bg_service-BACKEND 0.4s;
        }

        //UX
        @mixin bg_service-UX {
            -webkit-animation: bg_service-UX 0.4s;
            animation: bg_service-UX 0.4s;
        }

        //DESIGN
        @mixin bg_service-DESIGN {
            -webkit-animation: bg_service-DESIGN 0.4s;
            animation: bg_service-DESIGN 0.4s;
        }

        //CONSULTING
        @mixin bg_service-CONSULTING {
            -webkit-animation: bg_service-CONSULTING 0.4s;
            animation: bg_service-CONSULTING 0.4s;
        }

        //STARTUP
        @mixin bg_service-STARTUP {
            -webkit-animation: bg_service-STARTUP 0.4s;
            animation: bg_service-STARTUP 0.4s;
        }

    //NAV
    @mixin backCollor {
        -webkit-animation: backCollor 1s;
        animation: backCollor 1s;
    }

    /* FadeIn
    ------------------------------------------------------------------------ */
        //FadeIn
        @mixin fadeIn {
            -webkit-animation: fadeIn 0.3s ease-in-out;
            -moz-animation: fadeIn 0.3s ease-in-out;
            -o-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
        }