/*  ==========================================================================
    STYLE: HASH TOWERS
    --------------------------------------------------------------------------
    Version: 1.0;
    --------------------------------------------------------------------------
    by Rafael Torres
    ==========================================================================
*/

/*  --------------------------------------------------------------------------
    SASS includes
    ==========================================================================
*/

    @import "media_queries";
    @import "reset";
    @import "mixin";
    @import "carrossel";
    @import "animations";

/*  --------------------------------------------------------------------------
    UI: Setup
    --------------------------------------------------------------------------
*/
    @import "settings";

/*  --------------------------------------------------------------------------
    SASS Default
    ==========================================================================
*/
    html { height: 100%; }

    body
    {
        background: $palette-white;
        color: $palette-gray;
        font-family: "Roboto", Arial, Verdana, sans-serif;
        font-size: 14px;

        .opacity { @include opacidade; }

        .opacity_nav
        {
            opacity:0.90;
            -moz-opacity: 0.90;
            filter: alpha(opacity=90);
        }

        .position
        {
            @extend #FLOAT-LEFT;
            @extend #POSITION-ABSOLUTE;
            @include row;
            height: 85px;
            margin-top: -145px;
            width: 1px;
            z-index: 1200;
        }

        a
        {
            @extend #NO-TEXT-DECORATION;
            @include default_font;
            font-size: 16px;
            font-weight: 300;
        }

        .fixar
        {
            @extend #POSITION-FIXED;
            border-bottom: solid 1px #363B3F;
            margin-top: 0px !important;
            z-index: 2000;
        }

        header
        {
            @extend #FLOAT-LEFT;
            @include row;
            background: #242424;
            height: 140px;
            padding: 15px 0 !important;

            article
            {
                h1
                {
                    @extend #FLOAT-LEFT;
                    background: url(../image/sprite.png) no-repeat -410px -397px;
                    height: 140px;
                    width: 155px;
                    z-index: 1000;
                }
            }
        }

        header,
        footer,
        nav,
        section
        {
            @extend #FLOAT-LEFT;
            @include row;
            padding: 60px 0;

            article
            {
                @include article;

                h1
                {
                    a
                    {
                        @extend #TEXT-INDENT;
                        @extend #FLOAT-LEFT;
                        height: 100%;
                        width: 100%;
                    }
                }

                p
                {
                    color: $palette-gray;
                    font-family: "Roboto", Arial, Verdana, sans-serif;
                    font-size: 14px;
                    font-weight: 100;

                    strong { @extend #FONT-BOLD; }
                }

                h2
                {
                    font-family: "Roboto", Arial, Verdana, sans-serif;
                    font-size: 40px;
                    font-weight: 300;
                    width: 100%;
                }

                a.btn
                {
                    @extend #TEXT-CENTER;
                    @extend #POSITION-ABSOLUTE;
                    @extend #SHOW;
                    background: $palette-white;
                    border: solid 2px;
                    font-family: "Roboto", Arial, Verdana, sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    height: 50px;
                    line-height: 50px;
                    text-transform: uppercase;
                    width: 200px;
                }

                a.btn:hover
                {
                    @include gradiente;
                    color: $palette-white !important;
                }

                .language
                {
                    @extend #FLOAT-LEFT;
                    @extend #OVERFLOW-HIDDEN;
                    background: url(../image/seta.png) no-repeat right;
                    height: 20px;
                    margin-top: 50px;
                    width: 178px;

                    .ico
                    {
                        @extend #FLOAT-LEFT;
                        background: url(../image/sprite.png) -378px 0 no-repeat;
                        height: 17px;
                        width: 17px;
                    }

                    select
                    {
                        @extend #FLOAT-LEFT;
                        @include default_font;
                        background: transparent;
                        border: 0;
                        color: $palette-white;
                        font-size: 14px;
                        margin: -1px 0 0 5px;
                        width: 155px;
                        -webkit-appearance: none;
                    }
                }

                ul.sm
                {
                    @extend #FLOAT-RIGHT;
                    height: 20px;
                    margin-top: 50px;
                    width: 151px;

                    li
                    {
                        @extend #FLOAT-LEFT;
                        background: url(../image/nav.png) no-repeat 0 0;
                        height: 100%;
                        margin-right: 20px;
                        width: 25px;

                        a
                        {
                            @extend #TEXT-INDENT;
                            width: 100%;
                        }
                    }

                    li:last-child { margin-right: 0; }

                    li:nth-child(1) { background-position: 0 0; }
                    li:nth-child(2) { background-position: -25px 0; }
                    li:nth-child(3) { background-position: -50px 0;   width: 21px; }
                    li:nth-child(4) { background-position: -71px 0;   width: 20px; }

                    li:nth-child(1):hover { background-position: 0 -20px; }
                    li:nth-child(2):hover { background-position: -25px -20px; }
                    li:nth-child(3):hover { background-position: -50px -20px; }
                    li:nth-child(4):hover { background-position: -71px -20px; }
                }
            }

            ul
            {
                @extend #FLOAT-LEFT;
                @include row;
                list-style: none;

                li
                {
                    @extend #FLOAT-LEFT;
                    margin: 0;

                    a
                    {
                        @extend #FLOAT-LEFT;
                        @include row;
                        width: initial;
                    }
                }
            }
        }

        nav.main
        {
            background: $palette-black;
            height: 85px;
            padding: 0;

            article
            {
                ul
                {
                    width: 702px;

                    li
                    {
                        border-left: solid 1px #363B3F;
                        height: 100%;

                        a
                        {
                            @extend #TEXT-CENTER;
                            color: $palette-white;
                            line-height: 85px;
                            padding: 0 30px;
                        }

                        a:hover
                        {
                            @include backCollor;
                            background: $palette-pink;
                        }
                    }

                    li:last-child { border-right: solid 1px #363B3F; }

                    .selected { @include gradiente; }
                }

                a.contact
                {
                    @extend #FLOAT-RIGHT;
                    @extend #TEXT-CENTER;
                    @include gradiente;
                    color: $palette-white;
                    height: 45px;
                    line-height: 45px;
                    margin-top: 20px;
                    width: 120px;
                }

                a.contact:hover { background: $palette-orange; }
            }
        }

        section.first
        {
            @extend #POSITION-RELATIVE;
            background: url(../image/bg-first_1.jpg) no-repeat top center #4b5d83;
            height: 1014px;
            padding: 0;

            .boxCustomers { .arrow { @extend #HIDE; } }

            article
            {
                @extend #POSITION-ABSOLUTE;
                left: 50%;
                margin-left: -500px;
                z-index: 1000;

                .content
                {
                    @extend #FLOAT-LEFT;
                    @extend #POSITION-RELATIVE;
                    @include row;

                    h1
                    {
                        @extend #POSITION-ABSOLUTE;
                        background: url(../image/sprite.png) no-repeat 0 0;
                        height: 342px;
                        width: 378px;
                        margin-top: 160px;
                        z-index: 1000;
                    }
                }
            }
        }

        section.second
        {
            background: $palette-light;

            article
            {
                @extend #TEXT-CENTER;

                p
                {
                    color: $palette-blue;
                    font-size: 40px;
                }
            }
        }

        section.third
        {
            background: url(../image/bg-second.jpg) repeat-x center $palette-brown;

            article
            {
                @extend #TEXT-CENTER;

                h2
                {
                    color: $palette-orange;
                    margin-bottom: 40px;
                }

                p
                {
                    color: $palette-white;
                    font-size: 30px;
                    margin-bottom: 30px;
                    width: 100%;
                }

                ul
                {
                    height: 374px;

                    li
                    {
                        @extend #TEXT-INDENT;
                        background: url(../image/servicos.jpg) 0 0 no-repeat #f3f3f3;
                        height: 172px;
                        margin: 0 10px 10px 0;
                        width: 240px;
                    }

                    // li:hover { @include fadeIn; }

                    li:nth-child(1) { background-position: -720px -344px; }
                    li:nth-child(1):hover
                    {
                        background-position: -720px -516px;

                        @include bg_service-IOS;
                    }

                    li:nth-child(2) { background-position: 0 0; }
                    li:nth-child(2):hover
                    {
                        background-position: 0 -172px;

                        @include bg_service-ANDROID;
                    }

                    li:nth-child(3) { background-position: -240px 0; }
                    li:nth-child(3):hover
                    {
                        background-position: -240px -172px;

                        @include bg_service-WEB;
                    }

                    li:nth-child(4) { background-position: -480px 0;    margin-right: 0; }
                    li:nth-child(4):hover
                    {
                        background-position: -480px -172px;

                        @include bg_service-BACKEND;
                    }

                    li:nth-child(5) { background-position: 0 -344px; }
                    li:nth-child(5):hover
                    {
                        background-position: 0 -516px;

                        @include bg_service-UX;
                    }

                    li:nth-child(6) { background-position: -240px -344px; }
                    li:nth-child(6):hover
                    {
                        background-position: -240px -516px;

                        @include bg_service-DESIGN;
                    }

                    li:nth-child(7) { background-position: -480px -344px; }
                    li:nth-child(7):hover
                    {
                        background-position: -480px -516px;

                        @include bg_service-CONSULTING;
                    }

                    li:nth-child(8) { background-position: -720px 0;    margin-right: 0; }
                    li:nth-child(8):hover
                    {
                        background-position: -720px -172px;

                        @include bg_service-STARTUP;
                    }
                }
            }
        }

        section.fourth
        {
            background: url(../image/bg-third.jpg) no-repeat center #4c576c fixed;
            padding: 0;

            section
            {
                background: $palette-white;
                height: initial;

                article
                {
                    @extend #TEXT-CENTER;

                    h2
                    {
                        color: $palette-pink;
                        margin-bottom: 70px;
                    }

                    .box_50
                    {
                        @extend #FLOAT-LEFT;
                        @include box_50;
                        text-align: left;

                        p
                        {
                            margin-bottom: 25px;
                            width: 90%;
                        }
                    }

                    article
                    {
                        @extend #FLOAT-LEFT;
                        @extend #POSITION-RELATIVE;
                        margin: 35px 0 50px;

                        a.btn
                        {
                            border-color: $palette-pink;
                            color: $palette-pink;
                            left: 50%;
                            margin-left: -100px;
                        }
                    }

                    .our_team
                    {
                        @extend #FLOAT-LEFT;
                        @include row;
                        margin-top: 50px;
                        text-align: left;

                        h4
                        {
                            @extend #FLOAT-LEFT;
                            color: $palette-blue;
                            font-family: "Roboto", Arial, Verdana, sans-serif;
                            font-size: 25px;
                            font-weight: 300;
                            width: 100%;
                        }

                        article
                        {
                            @extend #FLOAT-LEFT;
                            @include row;
                            margin: 25px 0;
                            text-align: left;

                            .box_img
                            {
                                @extend #FLOAT-LEFT;
                                background: $palette-white;
                                border: solid 10px #f2f2f2;
                                height: 160px;
                                margin-right: 20px;
                                width: 160px;

                                img
                                {
                                    border: none;
                                    height: 160px;
                                    width: 160px;
                                }
                            }

                            p
                            {
                                span
                                {
                                    color: $palette-pink;
                                    font-size: 16px;
                                    font-weight: 300;
                                }

                                strong
                                {
                                    font-weight: normal;
                                    font-size: 12px;
                                }

                                a
                                {
                                    color: $palette-blue;
                                    font-size: 14px;
                                    text-decoration: underline;
                                }

                                a:hover { text-decoration: none; }

                                b { font-weight: normal; }
                            }
                        }
                    }
                }

            }

            section.transparent
            {
                background: none;

                article
                {

                    .box_50
                    {
                        @extend #TEXT-CENTER;
                        width: 33.3%;

                        p
                        {
                            color: $palette-white;
                            font-size: 30px;

                            span.pink
                            {
                                color: $palette-pink;
                            }

                            span.pHundred { font-size: 100px; }

                            span.font_light
                            {
                                @extend #SHOW;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }

            section.projects
            {
                article
                {
                    h2 { color: $palette-orange; }

                    p { font-size: 30px; }

                    article
                    {
                        a.btn
                        {
                            border-color: $palette-orange;
                            color: $palette-orange;
                        }
                    }
                }
            }

            section.block_work
            {
                @extend #OVERFLOW-HIDDEN;
                background: $palette-black;
                height: 360px;
                padding: 0;

                ul
                {
                    width: 150%;

                    li
                    {
                        height: 180px;
                        width: 310px;
                        background-position: 0 0;
                    }

                    li:nth-child(1),
                    li:nth-child(8),
                    li:nth-child(14)
                    { background: url(../image/project/limas.jpg) no-repeat; }

                    li:nth-child(1):hover,
                    li:nth-child(8):hover,
                    li:nth-child(14):hover
                    { background-position: 0 -180px; }

                    li:nth-child(2),
                    li:nth-child(7),
                    li:nth-child(15)
                    { background: url(../image/project/fapesp.jpg) no-repeat; }

                    li:nth-child(2):hover,
                    li:nth-child(7):hover,
                    li:nth-child(15):hover
                    { background-position: 0 -180px; }

                    li:nth-child(3),
                    li:nth-child(10),
                    li:nth-child(16)
                    { background: url(../image/project/polishop.jpg) no-repeat; }

                    li:nth-child(3):hover,
                    li:nth-child(10):hover,
                    li:nth-child(16):hover
                    { background-position: 0 -180px; }

                    li:nth-child(4),
                    li:nth-child(11)
                    { background: url(../image/project/ipbca.jpg) no-repeat; }

                    li:nth-child(4):hover,
                    li:nth-child(11):hover
                    { background-position: 0 -180px; }

                    li:nth-child(5),
                    li:nth-child(12)
                    { background: url(../image/project/zumba.jpg) no-repeat; }

                    li:nth-child(5):hover,
                    li:nth-child(12):hover
                    { background-position: 0 -180px; }

                    li:nth-child(6),
                    li:nth-child(9),
                    li:nth-child(13)
                    { background: url(../image/project/anamup.jpg) no-repeat; }

                    li:nth-child(6):hover,
                    li:nth-child(9):hover,
                    li:nth-child(13):hover
                    { background-position: 0 -180px; }

                    li:hover { @include fadeIn; }
                }
            }
        }

        section.fifty
        {
            background: url(../image/bg-fourth.jpg) no-repeat center top fixed;
            padding: 0;

            .position { margin-top: -85px; }

            section
            {
                background: $palette-orange;

                article
                {
                    @extend #TEXT-CENTER;

                    h2
                    {
                        color: $palette-white;
                        margin-bottom: 40px;
                    }

                    ul
                    {
                        height: 300px;
                        margin-bottom: 40px;

                        li
                        {
                            background: $palette-white;
                            height: 140px;
                            margin: 0 10px 10px 0;
                            line-height: 140px;
                            width: 323px;
                        }

                        li:hover { @include fadeIn; }

                        li:nth-child(3) { margin-right: 0; }
                        li:nth-child(6) { margin-right: 0; }

                        li.buscape { background: url(../image/clients/buscape.jpg) no-repeat 0 0; }
                        li.buscape:hover { background-position: 0 -140px; }

                        li.limas { background: url(../image/clients/limas.jpg) no-repeat 0 0; }
                        li.limas:hover { background-position: 0 -140px; }

                        li.ipbca { background: url(../image/clients/ipbca.jpg) no-repeat 0 0; }
                        li.ipbca:hover { background-position: 0 -140px; }

                        li.acsp { background: url(../image/clients/acsp.jpg) no-repeat 0 0; }
                        li.acsp:hover { background-position: 0 -140px; }

                        li.karsten { background: url(../image/clients/karsten.jpg) no-repeat 0 0; }
                        li.karsten:hover { background-position: 0 -140px; }

                        li.cennarium { background: url(../image/clients/cennarium.jpg) no-repeat 0 0; }
                        li.cennarium:hover { background-position: 0 -140px; }

                        li.winke { background: url(../image/clients/winke.jpg) no-repeat 0 0; }
                        li.winke:hover { background-position: 0 -140px; }
                    }

                    p
                    {
                        color: $palette-white;
                        font-size: 20px;
                        margin: 0 auto;
                        width: 750px;
                    }
                }
            }
        }

        section.sixth
        {
            background: url(../image/bg-fifty.jpg) no-repeat center bottom fixed $palette-black;
            padding: 0;

            .position { margin-top: -85px; }

            section
            {
                background: $palette-black;

                article
                {
                    @extend #TEXT-CENTER;
                    @extend #POSITION-RELATIVE;

                    h2
                    {
                        color: $palette-orange;
                        margin-bottom: 40px;
                    }
                }

                form
                {
                    @extend #FLOAT-LEFT;
                    @include row;
                    height: 420px;

                    input[type="text"]
                    {
                        @extend #FLOAT-LEFT;
                        @include default_font;
                        background: none;
                        border: none;
                        border-bottom: solid 1px $palette-orange;
                        color: $palette-orange;
                        height: 31px;
                        font-size: 30px;
                        margin-bottom: 50px;
                        padding-left: 20px;
                        width: 560px;
                    }

                    input.mensage::-webkit-input-placeholder { color: $palette-orange; }

                    textarea
                    {
                        @extend #FLOAT-LEFT;
                        @include default_font;
                        background: none;
                        border: none;
                        border-bottom: solid 1px $palette-orange;
                        color: $palette-orange;
                        font-size: 30px;
                        margin-bottom: 50px;
                        min-height: 150px;
                        max-height: 150px;
                        min-width: 97.5%;
                        max-width: 97.5%;
                        padding-left: 20px;
                    }

                    textarea.mensage::-webkit-input-placeholder { color: $palette-orange; }

                    input.btn_form
                    {
                        @extend #FLOAT-LEFT;
                        @extend #TEXT-CENTER;
                        @extend #SHOW;
                        // background: $palette-white;
                        background: none;
                        border: solid 2px $palette-orange;
                        color: $palette-orange;
                        cursor: pointer;
                        font-family: "Roboto", Arial, Verdana, sans-serif;
                        font-size: 20px;
                        font-weight: 300;
                        height: 50px;
                        line-height: 45px;
                        text-transform: uppercase;
                        width: 200px;
                        margin-right: 10px;
                    }

                    input.btn_form:hover
                    {
                        @include gradiente;
                        color: $palette-white !important;
                    }
                }

                p
                {
                    @extend #POSITION-ABSOLUTE;
                    right: 0;
                    color: $palette-blue;
                    font-size: 16px;
                    text-align: right;

                    a
                    {
                        @extend #FONT-BOLD;
                        color: $palette-blue;
                        text-decoration: none;
                    }

                    a:hover
                    {
                        color: $palette-pink;
                        text-decoration: underline;
                    }
                }
            }
        }

        section.seventh
        {
            background: url(../image/bg-first_3.jpg) no-repeat center bottom fixed $palette-purple;
            padding: 0;

            section.clients_world
            {
                background: $palette-white;

                article
                {
                    @extend #TEXT-CENTER;
                    @extend #POSITION-RELATIVE;

                    h2
                    {
                        color: $palette-purple;
                        margin-bottom: 50px;
                    }

                    aside
                    {
                        @extend #FLOAT-LEFT;
                        @include article;
                        background: url(../image/world.png) no-repeat center;
                        height: 535px;
                    }
                }
            }

            footer
            {
                background: $palette-purple;

                section
                {
                    @extend #FLOAT-LEFT;
                    background: none;
                    padding: 0;

                    article
                    {
                        @extend #POSITION-RELATIVE;

                        ul.ht_info
                        {
                            background: url(../image/sprite.png) no-repeat 0 -342px;
                            height: 195px;
                            width: 410px;

                            li
                            {
                                @extend #TEXT-CENTER;
                                color: $palette-orange;
                                font-family: "Roboto", Arial, Verdana, sans-serif;
                                font-size: 20px;
                                font-weight: 300;
                                height: 65px;
                                line-height: 65px;
                                margin-top: 110px;
                                width: 75px;
                            }

                            li:first-child { margin-left: 122px; }

                            li:nth-child(2) { width: 105px; margin-top: 80px; }
                        }

                        ul.networks
                        {
                            @extend #FLOAT-RIGHT;
                            height: 72px;
                            width: 538px;

                            li
                            {
                                background: url(../image/social.png) no-repeat 0 0;
                                height: 72px;
                                margin-right: 60px;
                                width: 150px;

                                a
                                {
                                    @extend #TEXT-INDENT;
                                    width: 100%;
                                }
                            }

                            li:last-child { width: 118px;   margin-right: 0; }

                            li:nth-child(1) { background-position: 0 0; }
                            li:nth-child(2) { background-position: -150px 0; }
                            li:nth-child(3) { background-position: -300px 0; }

                            li:nth-child(1):hover { background-position: 0 -72px; }
                            li:nth-child(2):hover { background-position: -150px -72px; }
                            li:nth-child(3):hover { background-position: -300px -72px; }
                        }

                        .select_foot { margin: 100px 0 0 40px; }

                        p
                        {
                            @extend #FLOAT-RIGHT;
                            @extend #POSITION-ABSOLUTE;
                            color: $palette-white;
                            font-size: 13px;
                            right: 0;
                            top: 172px;
                            width: initial;

                            a
                            {
                                color: $palette-light_purple;
                                font-size: 13px;
                                text-decoration: underline;
                            }

                            a:hover { @extend #NO-TEXT-DECORATION; }
                        }
                    }
                }
            }
        }

        section.more-project
        {
            @extend #POSITION-RELATIVE;
            padding: 10px 0;

            article
            {
                background:#f00;
                width: 1600px;

                ul
                {
                    @extend #FLOAT-LEFT;
                    height: 100%;   width: 100%;
                    margin: 0;

                    li
                    {
                        @extend #POSITION-RELATIVE;
                        @extend #FLOAT-LEFT;
                        @extend #TEXT-CENTER;
                        background: #efeeee;
                        height: 320px;  width: 320px;
                        margin: 10px;
                        padding: 30px;

                        p
                        {
                            color: $palette-orange;
                            font-family: "Roboto", Arial, Verdana, sans-serif;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 32px;

                            em
                            {
                                @extend #FONT-ITALIC;
                                font-size: 25px;
                                font-weight: 100;
                            }
                        }

                        .img_project
                        {
                            @extend #TEXT-CENTER;
                            height: 200px;  width: 320px;
                            margin: 0 auto;
                            margin-top: 30px;

                            img.default     { @extend #HIDE; }
                            img.wide        { @extend #SHOW; }
                        }

                        .btn_plus
                        {
                            @extend #HIDE;
                            @extend #POSITION-ABSOLUTE;
                            height: 60px;    width: 296px;
                            left: 50%;  top: 50%;
                            margin: -30px 0 0 -148px;
                        }
                    }

                    li:hover
                    {
                        @include gradiente;
                        @include opacidade;
                        @include fadeIn;

                        p,
                        .img_project
                        {
                            opacity:0.20;
                            -moz-opacity: 0.20;
                            filter: alpha(opacity=20);
                        }

                        .btn_plus
                        {
                            @extend #SHOW;

                            a
                            {
                                @extend #TEXT-CENTER;
                                background: $palette-white;
                                border-radius: 3px;
                                color: #ca3d31;
                                font-family: "Roboto", Arial, Verdana, sans-serif;
                                font-size: 18px;
                                font-weight: 100;
                                height: 60px;   width: 142px;
                                line-height: 60px;
                                margin: 0 2px;

                                opacity:1.00;
                                -moz-opacity: 1.00;
                                filter: alpha(opacity=100);

                                img
                                {
                                    border: none;
                                    height: 15px;   width: 15px;
                                    margin-right: 5px;
                                }
                            }

                            a:hover { background: $palette-brown; }
                        }
                    }
                }
            }
        }

        footer.project
        {
            background: $palette-pink;
            padding: 40px 0;
            margin-top: 50px;

            article
            {
                ul.sm
                {
                    @extend #FLOAT-LEFT;
                    margin-top: 0;
                }

                p
                {
                    @extend #FLOAT-RIGHT;
                    color: $palette-white;
                    font-size: 13px;
                    right: 0;
                    top: 172px;
                    width: initial;

                    a
                    {
                        color: $palette-light_purple;
                        font-size: 13px;
                        text-decoration: underline;
                    }

                    a:hover { @extend #NO-TEXT-DECORATION; }
                }
            }
        }
    }