<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    {% include "metatags" %}
    {% block metatag %}{% endblock %}

    <title>Hash Towers{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <!-- STYLES -->
    {% include "styles" %}
    {% block styles %}{% endblock %}
    {% block scripts_header %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <!-- SCRIPTS -->
    {% include "scripts" %}
    {% block scripts %}{% endblock %}
    {% include "analytics" %}
</body>
</html>