
                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Zumba Shop<br><em>E-commerce Responsivo</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/zumba.png" />
                        <img class="default" src="../assets/image/project/page/works/default/zumba.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>

                <li>
                    <p>Lima's Portões<br><em>Website e Folder</em></p>

                    <div class="img_project">
                        <img class="wide" src="../assets/image/project/page/works/wide/limas.png" />
                        <img class="default" src="../assets/image/project/page/works/default/limas.png" />
                    </div>

                    <!-- Botões -->
                    <div class="btn_plus">
                        <a href="" title="ver online"><img class="on" src="../assets/image/project/page/on.png" border="0"/>ver online</a>
                        <a href="" title="mais info"><img class="info" src="../assets/image/project/page/info.png" border="0"/>mais info</a>
                    </div>
                </li>