<ul class="sm">
    <li><a href="" title="Twitter">Twitter</a></li>
    <li><a href="" title="Facebook">Facebook</a></li>
    <li><a href="" title="Google Plus">Google Plus</a></li>
    <li><a href="" title="Linkedin">Linkedin</a></li>
</ul>