<ul class="sm">
    <li><a href="https://twitter.com/hashtowersbr" title="Twitter" target="_black">Twitter</a></li>
    <li><a href="https://www.facebook.com/hashtowers" title="Facebook" target="_black">Facebook</a></li>
    <li><a href="https://plus.google.com/u/0/112312413319443879678/posts?cfem=1" title="Google Plus" target="_black">Google Plus</a></li>
    <li><a href="https://www.linkedin.com/company/hashtowers-brasil" title="Linkedin" target="_black">Linkedin</a></li>
</ul>