@charset "UTF-8";
/*  ==========================================================================
    STYLE: HASH TOWERS
    --------------------------------------------------------------------------
    Version: 1.0;
    --------------------------------------------------------------------------
    by Rafael Torres
    ==========================================================================
*/
/*  --------------------------------------------------------------------------
    SASS includes
    ==========================================================================
*/
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Media Queries
----------------------------------------------------------------------- */
@media (min-width: 990px) and (max-width: 1024px) {
  body section.first .boxCustomers .wrapper ul li.li_first {
    display: none;
  }
}
@media (max-width: 1280px) {
  body section.more-project article {
    width: 990px !important;
  }
  body section.more-project article ul li {
    height: 215px !important;
    width: 215px !important;
    margin: 6px !important;
    padding: 10px !important;
  }
  body section.more-project article ul li p {
    font-size: 25px !important;
    line-height: 20px !important;
  }
  body section.more-project article ul li p em {
    font-size: 15px !important;
  }
  body section.more-project article ul li:hover .btn_plus {
    height: 40px !important;
    width: 190px !important;
    left: 50% !important;
    top: 50% !important;
    margin: -20px 0 0 -95px !important;
  }
  body section.more-project article ul li:hover .btn_plus a {
    font-size: 14px !important;
    height: 40px !important;
    width: 90px !important;
    line-height: 40px !important;
    margin: 0 1px !important;
  }
  body section.more-project article ul .img_project {
    height: 135px !important;
    width: 215px !important;
    margin-top: 20px !important;
  }
  body section.more-project article ul .img_project img.default {
    display: block !important;
  }
  body section.more-project article ul .img_project img.wide {
    display: none !important;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  body section.first .boxCustomers .wrapper ul {
    width: 9999px;
  }
  body section.first .boxCustomers .wrapper ul li {
    width: 1280px;
  }
  body section.first .boxCustomers .wrapper ul li.li_first {
    display: none;
  }
}
@media (min-width: 1281px) and (max-width: 1599px) {
  body section.more-project article {
    width: 1280px !important;
  }
  body section.more-project article ul li {
    height: 280px !important;
    width: 280px !important;
    margin: 5px !important;
    padding: 15px !important;
  }
  body section.more-project article ul .img_project {
    height: 122px !important;
    width: 215px !important;
    margin-top: 40px !important;
  }
  body section.more-project article ul .img_project img.default {
    display: block !important;
  }
  body section.more-project article ul .img_project img.wide {
    display: none !important;
  }
}
@media (min-width: 1281px) and (max-width: 1600px) {
  body section.first .boxCustomers .wrapper ul {
    width: 9999px;
  }
  body section.first .boxCustomers .wrapper ul li {
    width: 1600px;
  }
}
@media (min-width: 1601px) and (max-width: 1920px) {
  body section.first .boxCustomers .wrapper ul {
    width: 9999px;
  }
  body section.first .boxCustomers .wrapper ul li {
    width: 1920px;
  }
}
@media (min-width: 1921px) {
  body section.first .boxCustomers {
    display: none;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Mixin
----------------------------------------------------------------------- */
/* ============================ Animações ============================== */
/* Servíço
------------------------------------------------------------------------ */
/* FadeIn
------------------------------------------------------------------------ */
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Carrossel
----------------------------------------------------------------------- */
.boxCustomers {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.boxCustomers .wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0 0 0 0;
  overflow: auto;
  top: 0;
}
.boxCustomers .wrapper ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 9999px;
}
.boxCustomers .wrapper ul li {
  display: block;
  margin: 0px 0 0 0;
  width: 1024px;
}
.boxCustomers .wrapper ul li img {
  display: block;
  height: 1014px;
  width: 100%;
}
.boxCustomers .wrapper ul img {
  border: none;
}
.boxCustomers .arrow {
  display: block;
  background: url(../../image/carousel/sprite-carousel.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  height: 82px;
  margin: 259px 0 0 0;
  position: absolute;
  text-indent: -5000px;
  width: 32px;
}
.boxCustomers .forward {
  background-position: -32px 0;
  right: -45px;
}
.boxCustomers .forward:hover {
  background-position: -32px -82px;
}
.boxCustomers .back {
  background-position: 0 0;
  left: -45px;
}
.boxCustomers .back:hover {
  background-position: 0 -82px;
}

/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Animations
----------------------------------------------------------------------- */
/* Servíço
======================================================================= */
@-webkit-keyframes bg_service-IOS {
  from {
    background-position: -720px -344px;
  }

  to {
    background-position: -720px -516px;
  }
}

@keyframes bg_service-IOS {
  from {
    background-position: -720px -344px;
  }

  to {
    background-position: -720px -516px;
  }
}

@-webkit-keyframes bg_service-ANDROID {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -172px;
  }
}

@keyframes bg_service-ANDROID {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -172px;
  }
}

@-webkit-keyframes bg_service-WEB {
  from {
    background-position: -240px 0;
  }

  to {
    background-position: -240px -172px;
  }
}

@keyframes bg_service-WEB {
  from {
    background-position: -240px 0;
  }

  to {
    background-position: -240px -172px;
  }
}

@-webkit-keyframes bg_service-BACKEND {
  from {
    background-position: -480px 0;
  }

  to {
    background-position: -480px -172px;
  }
}

@keyframes bg_service-BACKEND {
  from {
    background-position: -480px 0;
  }

  to {
    background-position: -480px -172px;
  }
}

@-webkit-keyframes bg_service-UX {
  from {
    background-position: 0 -344px;
  }

  to {
    background-position: 0 -516px;
  }
}

@keyframes bg_service-UX {
  from {
    background-position: 0 -344px;
  }

  to {
    background-position: 0 -516px;
  }
}

@-webkit-keyframes bg_service-DESIGN {
  from {
    background-position: -240px -344px;
  }

  to {
    background-position: -240px -516px;
  }
}

@keyframes bg_service-DESIGN {
  from {
    background-position: -240px -344px;
  }

  to {
    background-position: -240px -516px;
  }
}

@-webkit-keyframes bg_service-CONSULTING {
  from {
    background-position: -480px -344px;
  }

  to {
    background-position: -480px -516px;
  }
}

@keyframes bg_service-CONSULTING {
  from {
    background-position: -480px -344px;
  }

  to {
    background-position: -480px -516px;
  }
}

@-webkit-keyframes bg_service-STARTUP {
  from {
    background-position: -720px 0;
  }

  to {
    background-position: -720px -172px;
  }
}

@keyframes bg_service-STARTUP {
  from {
    background-position: -720px 0;
  }

  to {
    background-position: -720px -172px;
  }
}

/* FadeIn
======================================================================= */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backCollor {
  from {
    background: #000000;
  }

  to {
    background: #E32666;
  }
}

@keyframes backCollor {
  from {
    background: #000000;
  }

  to {
    background: #E32666;
  }
}

/*  --------------------------------------------------------------------------
    UI: Setup
    --------------------------------------------------------------------------
*/
/*  ==========================================================================
    Hash Towers: UI SETTINGS
    --------------------------------------------------------------------------
    Version: 1.0;
    ==========================================================================
*/
/* Settings
----------------------------------------------------------------------- */
#FLOAT-LEFT, .boxCustomers, .boxCustomers .wrapper, .boxCustomers .wrapper ul, .boxCustomers .wrapper ul li, body .position, body header, body header article h1,
body footer,
body nav,
body section, body header article h1 a,
body footer article h1 a,
body nav article h1 a,
body section article h1 a, body header article .language,
body footer article .language,
body nav article .language,
body section article .language, body header article .language .ico,
body footer article .language .ico,
body nav article .language .ico,
body section article .language .ico, body header article .language select,
body footer article .language select,
body nav article .language select,
body section article .language select, body header article ul.sm li,
body footer article ul.sm li,
body nav article ul.sm li,
body section article ul.sm li, body header ul,
body footer ul,
body nav ul,
body section ul, body header ul li,
body footer ul li,
body nav ul li,
body section ul li, body header ul li a,
body footer ul li a,
body nav ul li a,
body section ul li a, body section.first article .content, body section.fourth section article .box_50, body section.fourth section article article, body section.fourth section article .our_team, body section.fourth section article .our_team h4, body section.fourth section article .our_team article, body section.fourth section article .our_team article .box_img, body section.sixth section form, body section.sixth section form input[type="text"], body section.sixth section form textarea, body section.sixth section form input[type="button"], body section.seventh section.clients_world article aside, body section.seventh footer section, body section.more-project article ul, body section.more-project article ul li, body footer.project article ul.sm {
  float: left;
}

#FLOAT-RIGHT, body header article ul.sm,
body footer article ul.sm,
body nav article ul.sm,
body section article ul.sm, body nav.main article a.contact, body section.seventh footer section article ul.networks, body section.seventh footer section article p, body footer.project article p {
  float: right;
}

#HIDE, body section.first .boxCustomers .arrow, body section.more-project article ul li .img_project img.default, body section.more-project article ul li .btn_plus {
  display: none;
}

#SHOW, body header article a.btn,
body footer article a.btn,
body nav article a.btn,
body section article a.btn, body section.fourth section.transparent article .box_50 p span.font_light, body section.sixth section form input[type="button"], body section.more-project article ul li .img_project img.wide, body section.more-project article ul li:hover .btn_plus {
  display: block;
}

#FONT-BOLD, body header article p strong,
body footer article p strong,
body nav article p strong,
body section article p strong, body section.sixth section p a {
  font-weight: bold;
}

#FONT-ITALIC, body section.more-project article ul li p em {
  font-style: italic;
}

#FONT-NORMAL {
  font-weight: normal;
}

#FONT-LIGHTER {
  font-weight: lighter;
}

#TEXT-UPPERCASE {
  text-transform: uppercase;
}

#NO-TEXT-DECORATION, body a, body section.seventh footer section article p a:hover, body footer.project article p a:hover {
  text-decoration: none;
}

#TEXT-INDENT, body header article h1 a,
body footer article h1 a,
body nav article h1 a,
body section article h1 a, body header article ul.sm li a,
body footer article ul.sm li a,
body nav article ul.sm li a,
body section article ul.sm li a, body section.third article ul li, body section.seventh footer section article ul.networks li a {
  text-indent: -9999px;
}

#TEXT-CENTER, body header article a.btn,
body footer article a.btn,
body nav article a.btn,
body section article a.btn, body nav.main article ul li a, body nav.main article a.contact, body section.second article, body section.third article, body section.fourth section article, body section.fourth section.transparent article .box_50, body section.fifty section article, body section.sixth section article, body section.sixth section form input[type="button"], body section.seventh section.clients_world article, body section.seventh footer section article ul.ht_info li, body section.more-project article ul li, body section.more-project article ul li .img_project, body section.more-project article ul li:hover .btn_plus a {
  text-align: center;
}

#POSITION-ABSOLUTE, body .position, body header article a.btn,
body footer article a.btn,
body nav article a.btn,
body section article a.btn, body section.first article, body section.first article .content h1, body section.sixth section p, body section.seventh footer section article p, body section.more-project article ul li .btn_plus {
  position: absolute;
}

#POSITION-RELATIVE, body section.first, body section.first article .content, body section.fourth section article article, body section.sixth section article, body section.seventh section.clients_world article, body section.seventh footer section article, body section.more-project, body section.more-project article ul li {
  position: relative;
}

#POSITION-FIXED, body .fixar {
  position: fixed;
}

#OVERFLOW-HIDDEN, body header article .language,
body footer article .language,
body nav article .language,
body section article .language, body section.fourth section.block_work {
  overflow: hidden;
}

#OVERFLOW-AUTO {
  overflow: auto;
}

#NO-LIST-STYLE {
  list-style: none;
}

#NO-PADDING {
  padding: 0;
}

/*  --------------------------------------------------------------------------
    SASS Default
    ==========================================================================
*/
html {
  height: 100%;
}

body {
  background: #fcfcfc;
  color: #888888;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 14px;
}
body .opacity {
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter: alpha(opacity=90);
}
body .opacity_nav {
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter: alpha(opacity=90);
}
body .position {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 85px;
  margin-top: -145px;
  width: 1px;
  z-index: 1200;
}
body a {
  font-family: "Open Sans", Arial, Verdana;
  font-size: 15px;
  font-weight: lighter;
  font-size: 16px;
  font-weight: 300;
}
body .fixar {
  border-bottom: solid 1px #363B3F;
  margin-top: 0px !important;
  z-index: 2000;
}
body header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
  height: 140px;
  padding: 15px 0 !important;
}
body header article h1 {
  background: url(../image/sprite.png) no-repeat -410px -397px;
  height: 140px;
  width: 155px;
  z-index: 1000;
}
body header,
body footer,
body nav,
body section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 60px 0;
}
body header article,
body footer article,
body nav article,
body section article {
  height: 100%;
  width: 990px;
  margin: 0 auto;
}
body header article h1 a,
body footer article h1 a,
body nav article h1 a,
body section article h1 a {
  height: 100%;
  width: 100%;
}
body header article p,
body footer article p,
body nav article p,
body section article p {
  color: #888888;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 100;
}
body header article h2,
body footer article h2,
body nav article h2,
body section article h2 {
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
}
body header article a.btn,
body footer article a.btn,
body nav article a.btn,
body section article a.btn {
  background: #fcfcfc;
  border: solid 2px;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  width: 200px;
}
body header article a.btn:hover,
body footer article a.btn:hover,
body nav article a.btn:hover,
body section article a.btn:hover {
  background: #e52667;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e52667), color-stop(100%, #e75a41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fcfcfc !important;
}
body header article .language,
body footer article .language,
body nav article .language,
body section article .language {
  background: url(../image/seta.png) no-repeat right;
  height: 20px;
  margin-top: 50px;
  width: 178px;
}
body header article .language .ico,
body footer article .language .ico,
body nav article .language .ico,
body section article .language .ico {
  background: url(../image/sprite.png) -378px 0 no-repeat;
  height: 17px;
  width: 17px;
}
body header article .language select,
body footer article .language select,
body nav article .language select,
body section article .language select {
  font-family: "Open Sans", Arial, Verdana;
  font-size: 15px;
  font-weight: lighter;
  background: transparent;
  border: 0;
  color: #fcfcfc;
  font-size: 14px;
  margin: -1px 0 0 5px;
  width: 155px;
  -webkit-appearance: none;
}
body header article ul.sm,
body footer article ul.sm,
body nav article ul.sm,
body section article ul.sm {
  height: 20px;
  margin-top: 50px;
  width: 151px;
}
body header article ul.sm li,
body footer article ul.sm li,
body nav article ul.sm li,
body section article ul.sm li {
  background: url(../image/nav.png) no-repeat 0 0;
  height: 100%;
  margin-right: 20px;
  width: 25px;
}
body header article ul.sm li a,
body footer article ul.sm li a,
body nav article ul.sm li a,
body section article ul.sm li a {
  width: 100%;
}
body header article ul.sm li:last-child,
body footer article ul.sm li:last-child,
body nav article ul.sm li:last-child,
body section article ul.sm li:last-child {
  margin-right: 0;
}
body header article ul.sm li:nth-child(1),
body footer article ul.sm li:nth-child(1),
body nav article ul.sm li:nth-child(1),
body section article ul.sm li:nth-child(1) {
  background-position: 0 0;
}
body header article ul.sm li:nth-child(2),
body footer article ul.sm li:nth-child(2),
body nav article ul.sm li:nth-child(2),
body section article ul.sm li:nth-child(2) {
  background-position: -25px 0;
}
body header article ul.sm li:nth-child(3),
body footer article ul.sm li:nth-child(3),
body nav article ul.sm li:nth-child(3),
body section article ul.sm li:nth-child(3) {
  background-position: -50px 0;
  width: 21px;
}
body header article ul.sm li:nth-child(4),
body footer article ul.sm li:nth-child(4),
body nav article ul.sm li:nth-child(4),
body section article ul.sm li:nth-child(4) {
  background-position: -71px 0;
  width: 20px;
}
body header article ul.sm li:nth-child(1):hover,
body footer article ul.sm li:nth-child(1):hover,
body nav article ul.sm li:nth-child(1):hover,
body section article ul.sm li:nth-child(1):hover {
  background-position: 0 -20px;
}
body header article ul.sm li:nth-child(2):hover,
body footer article ul.sm li:nth-child(2):hover,
body nav article ul.sm li:nth-child(2):hover,
body section article ul.sm li:nth-child(2):hover {
  background-position: -25px -20px;
}
body header article ul.sm li:nth-child(3):hover,
body footer article ul.sm li:nth-child(3):hover,
body nav article ul.sm li:nth-child(3):hover,
body section article ul.sm li:nth-child(3):hover {
  background-position: -50px -20px;
}
body header article ul.sm li:nth-child(4):hover,
body footer article ul.sm li:nth-child(4):hover,
body nav article ul.sm li:nth-child(4):hover,
body section article ul.sm li:nth-child(4):hover {
  background-position: -71px -20px;
}
body header ul,
body footer ul,
body nav ul,
body section ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
body header ul li,
body footer ul li,
body nav ul li,
body section ul li {
  margin: 0;
}
body header ul li a,
body footer ul li a,
body nav ul li a,
body section ul li a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  width: initial;
}
body nav.main {
  background: #282928;
  height: 85px;
  padding: 0;
}
body nav.main article ul {
  width: 702px;
}
body nav.main article ul li {
  border-left: solid 1px #363B3F;
  height: 100%;
}
body nav.main article ul li a {
  color: #fcfcfc;
  line-height: 85px;
  padding: 0 30px;
}
body nav.main article ul li a:hover {
  -webkit-animation: backCollor 1s;
  animation: backCollor 1s;
  background: #e32666;
}
body nav.main article ul li:last-child {
  border-right: solid 1px #363B3F;
}
body nav.main article ul .selected {
  background: #e52667;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e52667), color-stop(100%, #e75a41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
body nav.main article a.contact {
  background: #e52667;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e52667), color-stop(100%, #e75a41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fcfcfc;
  height: 45px;
  line-height: 45px;
  margin-top: 20px;
  width: 120px;
}
body nav.main article a.contact:hover {
  background: #e75a40;
}
body section.first {
  background: url(../image/bg-first_1.jpg) no-repeat top center #4b5d83;
  height: 1014px;
  padding: 0;
}
body section.first article {
  left: 50%;
  margin-left: -500px;
  z-index: 1000;
}
body section.first article .content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body section.first article .content h1 {
  background: url(../image/sprite.png) no-repeat 0 0;
  height: 342px;
  width: 378px;
  margin-top: 160px;
  z-index: 1000;
}
body section.second {
  background: #f7f8f8;
}
body section.second article p {
  color: #0a9ccd;
  font-size: 40px;
}
body section.third {
  background: url(../image/bg-second.jpg) repeat-x center #322e2d;
}
body section.third article h2 {
  color: #e75a40;
  margin-bottom: 40px;
}
body section.third article p {
  color: #fcfcfc;
  font-size: 30px;
  margin-bottom: 30px;
  width: 100%;
}
body section.third article ul {
  height: 374px;
}
body section.third article ul li {
  background: url(../image/servicos.jpg) 0 0 no-repeat #f3f3f3;
  height: 172px;
  margin: 0 10px 10px 0;
  width: 240px;
}
body section.third article ul li:nth-child(1) {
  background-position: -720px -344px;
}
body section.third article ul li:nth-child(1):hover {
  background-position: -720px -516px;
  -webkit-animation: bg_service-IOS 0.4s;
  animation: bg_service-IOS 0.4s;
}
body section.third article ul li:nth-child(2) {
  background-position: 0 0;
}
body section.third article ul li:nth-child(2):hover {
  background-position: 0 -172px;
  -webkit-animation: bg_service-ANDROID 0.4s;
  animation: bg_service-ANDROID 0.4s;
}
body section.third article ul li:nth-child(3) {
  background-position: -240px 0;
}
body section.third article ul li:nth-child(3):hover {
  background-position: -240px -172px;
  -webkit-animation: bg_service-WEB 0.4s;
  animation: bg_service-WEB 0.4s;
}
body section.third article ul li:nth-child(4) {
  background-position: -480px 0;
  margin-right: 0;
}
body section.third article ul li:nth-child(4):hover {
  background-position: -480px -172px;
  -webkit-animation: bg_service-BACKEND 0.4s;
  animation: bg_service-BACKEND 0.4s;
}
body section.third article ul li:nth-child(5) {
  background-position: 0 -344px;
}
body section.third article ul li:nth-child(5):hover {
  background-position: 0 -516px;
  -webkit-animation: bg_service-UX 0.4s;
  animation: bg_service-UX 0.4s;
}
body section.third article ul li:nth-child(6) {
  background-position: -240px -344px;
}
body section.third article ul li:nth-child(6):hover {
  background-position: -240px -516px;
  -webkit-animation: bg_service-DESIGN 0.4s;
  animation: bg_service-DESIGN 0.4s;
}
body section.third article ul li:nth-child(7) {
  background-position: -480px -344px;
}
body section.third article ul li:nth-child(7):hover {
  background-position: -480px -516px;
  -webkit-animation: bg_service-CONSULTING 0.4s;
  animation: bg_service-CONSULTING 0.4s;
}
body section.third article ul li:nth-child(8) {
  background-position: -720px 0;
  margin-right: 0;
}
body section.third article ul li:nth-child(8):hover {
  background-position: -720px -172px;
  -webkit-animation: bg_service-STARTUP 0.4s;
  animation: bg_service-STARTUP 0.4s;
}
body section.fourth {
  background: url(../image/bg-third.jpg) no-repeat center #4c576c fixed;
  padding: 0;
}
body section.fourth section {
  background: #fcfcfc;
  height: initial;
}
body section.fourth section article h2 {
  color: #e32666;
  margin-bottom: 70px;
}
body section.fourth section article .box_50 {
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: left;
}
body section.fourth section article .box_50 p {
  margin-bottom: 25px;
  width: 90%;
}
body section.fourth section article article {
  margin: 35px 0 50px;
}
body section.fourth section article article a.btn {
  border-color: #e32666;
  color: #e32666;
  left: 50%;
  margin-left: -100px;
}
body section.fourth section article .our_team {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  text-align: left;
}
body section.fourth section article .our_team h4 {
  color: #0a9ccd;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  width: 100%;
}
body section.fourth section article .our_team article {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 25px 0;
  text-align: left;
}
body section.fourth section article .our_team article .box_img {
  background: #fcfcfc;
  border: solid 10px #f2f2f2;
  height: 160px;
  margin-right: 20px;
  width: 160px;
}
body section.fourth section article .our_team article .box_img img {
  border: none;
  height: 160px;
  width: 160px;
}
body section.fourth section article .our_team article p span {
  color: #e32666;
  font-size: 16px;
  font-weight: 300;
}
body section.fourth section article .our_team article p strong {
  font-weight: normal;
  font-size: 12px;
}
body section.fourth section article .our_team article p a {
  color: #0a9ccd;
  font-size: 14px;
  text-decoration: underline;
}
body section.fourth section article .our_team article p a:hover {
  text-decoration: none;
}
body section.fourth section article .our_team article p b {
  font-weight: normal;
}
body section.fourth section.transparent {
  background: none;
}
body section.fourth section.transparent article .box_50 {
  width: 33.3%;
}
body section.fourth section.transparent article .box_50 p {
  color: #fcfcfc;
  font-size: 30px;
}
body section.fourth section.transparent article .box_50 p span.pink {
  color: #e32666;
}
body section.fourth section.transparent article .box_50 p span.pHundred {
  font-size: 100px;
}
body section.fourth section.transparent article .box_50 p span.font_light {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
body section.fourth section.projects article h2 {
  color: #e75a40;
}
body section.fourth section.projects article p {
  font-size: 30px;
}
body section.fourth section.projects article article a.btn {
  border-color: #e75a40;
  color: #e75a40;
}
body section.fourth section.block_work {
  background: #282928;
  height: 360px;
  padding: 0;
}
body section.fourth section.block_work ul {
  width: 150%;
}
body section.fourth section.block_work ul li {
  height: 180px;
  width: 310px;
  background-position: 0 0;
}
body section.fourth section.block_work ul li:nth-child(1),
body section.fourth section.block_work ul li:nth-child(8),
body section.fourth section.block_work ul li:nth-child(14) {
  background: url(../image/project/limas.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(1):hover,
body section.fourth section.block_work ul li:nth-child(8):hover,
body section.fourth section.block_work ul li:nth-child(14):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:nth-child(2),
body section.fourth section.block_work ul li:nth-child(7),
body section.fourth section.block_work ul li:nth-child(15) {
  background: url(../image/project/fapesp.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(2):hover,
body section.fourth section.block_work ul li:nth-child(7):hover,
body section.fourth section.block_work ul li:nth-child(15):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:nth-child(3),
body section.fourth section.block_work ul li:nth-child(10),
body section.fourth section.block_work ul li:nth-child(16) {
  background: url(../image/project/polishop.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(3):hover,
body section.fourth section.block_work ul li:nth-child(10):hover,
body section.fourth section.block_work ul li:nth-child(16):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:nth-child(4),
body section.fourth section.block_work ul li:nth-child(11) {
  background: url(../image/project/ipbca.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(4):hover,
body section.fourth section.block_work ul li:nth-child(11):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:nth-child(5),
body section.fourth section.block_work ul li:nth-child(12) {
  background: url(../image/project/zumba.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(5):hover,
body section.fourth section.block_work ul li:nth-child(12):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:nth-child(6),
body section.fourth section.block_work ul li:nth-child(9),
body section.fourth section.block_work ul li:nth-child(13) {
  background: url(../image/project/anamup.jpg) no-repeat;
}
body section.fourth section.block_work ul li:nth-child(6):hover,
body section.fourth section.block_work ul li:nth-child(9):hover,
body section.fourth section.block_work ul li:nth-child(13):hover {
  background-position: 0 -180px;
}
body section.fourth section.block_work ul li:hover {
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
body section.fifty {
  background: url(../image/bg-fourth.jpg) no-repeat center top fixed;
  padding: 0;
}
body section.fifty .position {
  margin-top: -85px;
}
body section.fifty section {
  background: #e75a40;
}
body section.fifty section article h2 {
  color: #fcfcfc;
  margin-bottom: 40px;
}
body section.fifty section article ul {
  height: 300px;
  margin-bottom: 40px;
}
body section.fifty section article ul li {
  background: #fcfcfc;
  height: 140px;
  margin: 0 10px 10px 0;
  line-height: 140px;
  width: 323px;
}
body section.fifty section article ul li:hover {
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
body section.fifty section article ul li:nth-child(3) {
  margin-right: 0;
}
body section.fifty section article ul li:nth-child(6) {
  margin-right: 0;
}
body section.fifty section article ul li.buscape {
  background: url(../image/clients/buscape.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.buscape:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.limas {
  background: url(../image/clients/limas.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.limas:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.ipbca {
  background: url(../image/clients/ipbca.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.ipbca:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.acsp {
  background: url(../image/clients/acsp.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.acsp:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.karsten {
  background: url(../image/clients/karsten.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.karsten:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.cennarium {
  background: url(../image/clients/cennarium.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.cennarium:hover {
  background-position: 0 -140px;
}
body section.fifty section article ul li.winke {
  background: url(../image/clients/winke.jpg) no-repeat 0 0;
}
body section.fifty section article ul li.winke:hover {
  background-position: 0 -140px;
}
body section.fifty section article p {
  color: #fcfcfc;
  font-size: 20px;
  margin: 0 auto;
  width: 750px;
}
body section.sixth {
  background: url(../image/bg-fifty.jpg) no-repeat center bottom fixed #282928;
  padding: 0;
}
body section.sixth .position {
  margin-top: -85px;
}
body section.sixth section {
  background: #282928;
}
body section.sixth section article h2 {
  color: #e75a40;
  margin-bottom: 40px;
}
body section.sixth section form {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 420px;
}
body section.sixth section form input[type="text"] {
  font-family: "Open Sans", Arial, Verdana;
  font-size: 15px;
  font-weight: lighter;
  background: none;
  border: none;
  border-bottom: solid 1px #e75a40;
  color: #e75a40;
  height: 31px;
  font-size: 30px;
  margin-bottom: 50px;
  padding-left: 20px;
  width: 560px;
}
body section.sixth section form textarea {
  font-family: "Open Sans", Arial, Verdana;
  font-size: 15px;
  font-weight: lighter;
  background: none;
  border: none;
  border-bottom: solid 1px #e75a40;
  color: #e75a40;
  font-size: 30px;
  margin-bottom: 50px;
  min-height: 150px;
  max-height: 150px;
  min-width: 97.5%;
  max-width: 97.5%;
  padding-left: 20px;
}
body section.sixth section form input[type="button"] {
  background: #fcfcfc;
  border: solid 2px #e75a40;
  color: #e75a40;
  cursor: pointer;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  line-height: 45px;
  text-transform: uppercase;
  width: 200px;
}
body section.sixth section form input[type="button"]:hover {
  background: #e52667;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e52667), color-stop(100%, #e75a41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fcfcfc !important;
}
body section.sixth section p {
  right: 0;
  color: #0a9ccd;
  font-size: 16px;
  text-align: right;
}
body section.sixth section p a {
  color: #0a9ccd;
  text-decoration: none;
}
body section.sixth section p a:hover {
  color: #e32666;
  text-decoration: underline;
}
body section.seventh {
  background: url(../image/bg-first_3.jpg) no-repeat center bottom fixed #485673;
  padding: 0;
}
body section.seventh section.clients_world {
  background: #fcfcfc;
}
body section.seventh section.clients_world article h2 {
  color: #485673;
  margin-bottom: 50px;
}
body section.seventh section.clients_world article aside {
  height: 100%;
  width: 990px;
  margin: 0 auto;
  background: url(../image/world.png) no-repeat center;
  height: 535px;
}
body section.seventh footer {
  background: #485673;
}
body section.seventh footer section {
  background: none;
  padding: 0;
}
body section.seventh footer section article ul.ht_info {
  background: url(../image/sprite.png) no-repeat 0 -342px;
  height: 195px;
  width: 410px;
}
body section.seventh footer section article ul.ht_info li {
  color: #e75a40;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 65px;
  line-height: 65px;
  margin-top: 110px;
  width: 75px;
}
body section.seventh footer section article ul.ht_info li:first-child {
  margin-left: 122px;
}
body section.seventh footer section article ul.ht_info li:nth-child(2) {
  width: 105px;
  margin-top: 80px;
}
body section.seventh footer section article ul.networks {
  height: 72px;
  width: 538px;
}
body section.seventh footer section article ul.networks li {
  background: url(../image/social.png) no-repeat 0 0;
  height: 72px;
  margin-right: 60px;
  width: 150px;
}
body section.seventh footer section article ul.networks li a {
  width: 100%;
}
body section.seventh footer section article ul.networks li:last-child {
  width: 118px;
  margin-right: 0;
}
body section.seventh footer section article ul.networks li:nth-child(1) {
  background-position: 0 0;
}
body section.seventh footer section article ul.networks li:nth-child(2) {
  background-position: -150px 0;
}
body section.seventh footer section article ul.networks li:nth-child(3) {
  background-position: -300px 0;
}
body section.seventh footer section article ul.networks li:nth-child(1):hover {
  background-position: 0 -72px;
}
body section.seventh footer section article ul.networks li:nth-child(2):hover {
  background-position: -150px -72px;
}
body section.seventh footer section article ul.networks li:nth-child(3):hover {
  background-position: -300px -72px;
}
body section.seventh footer section article .select_foot {
  margin: 100px 0 0 40px;
}
body section.seventh footer section article p {
  color: #fcfcfc;
  font-size: 13px;
  right: 0;
  top: 172px;
  width: initial;
}
body section.seventh footer section article p a {
  color: #91abd9;
  font-size: 13px;
  text-decoration: underline;
}
body section.more-project {
  padding: 10px 0;
}
body section.more-project article {
  background: #f00;
  width: 1600px;
}
body section.more-project article ul {
  height: 100%;
  width: 100%;
  margin: 0;
}
body section.more-project article ul li {
  background: #efeeee;
  height: 320px;
  width: 320px;
  margin: 10px;
  padding: 30px;
}
body section.more-project article ul li p {
  color: #e75a40;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
}
body section.more-project article ul li p em {
  font-size: 25px;
  font-weight: 100;
}
body section.more-project article ul li .img_project {
  height: 200px;
  width: 320px;
  margin: 0 auto;
  margin-top: 30px;
}
body section.more-project article ul li .btn_plus {
  height: 60px;
  width: 296px;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -148px;
}
body section.more-project article ul li:hover {
  background: #e52667;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e52667), color-stop(100%, #e75a41));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e52667 0%, #e75a41 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52667', endColorstr='#e75a41',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter: alpha(opacity=90);
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  -o-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
body section.more-project article ul li:hover p,
body section.more-project article ul li:hover .img_project {
  opacity: 0.20;
  -moz-opacity: 0.20;
  filter: alpha(opacity=20);
}
body section.more-project article ul li:hover .btn_plus a {
  background: #fcfcfc;
  border-radius: 3px;
  color: #ca3d31;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 100;
  height: 60px;
  width: 142px;
  line-height: 60px;
  margin: 0 2px;
  opacity: 1.00;
  -moz-opacity: 1.00;
  filter: alpha(opacity=100);
}
body section.more-project article ul li:hover .btn_plus a img {
  border: none;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
body section.more-project article ul li:hover .btn_plus a:hover {
  background: #322e2d;
}
body footer.project {
  background: #e32666;
  padding: 40px 0;
  margin-top: 50px;
}
body footer.project article ul.sm {
  margin-top: 0;
}
body footer.project article p {
  color: #fcfcfc;
  font-size: 13px;
  right: 0;
  top: 172px;
  width: initial;
}
body footer.project article p a {
  color: #91abd9;
  font-size: 13px;
  text-decoration: underline;
}
