{% block content %}
    <section class="first" id="home">
    	<article>
            <div class="language">
                <div class="ico"></div>
                <select>
                    <option value="0">United States - English</option>
                    <option value="1">Brasil - Português</option>
                </select>
            </div>
    		<h1><a href="" title="Hash Towers">Hash Towers</a></h1>
    		<ul>
    			<li><a href="" title="Twitter">Twitter</a></li>
    			<li><a href="" title="Facebook">Facebook</a></li>
    			<li><a href="" title="Google Plus">Google Plus</a></li>
    			<li><a href="" title="Linkedin">Linkedin</a></li>
    		</ul>
    	</article>
    </section>
    <nav class="main" id="nav">
    	<article>
	    	<ul>
                <li><a href="#home" title=""><img src="../assets/image/home.png" alt="" border="0"/></a></li>
	    		<li><a href="#service" title="">service</a></li>
	    		<li><a href="#aboutUs" title="">about us</a></li>
	    		<li><a href="#jobs" title="">jobs</a></li>
	    		<li><a href="#clients" title="">clients</a></li>
	    		<li><a href="#more" title="">and more</a></li>
	    	</ul>
	    	<a href="#contact" title="" class="contact">contact</a>
    	</article>
    </nav>
    <section class="second">
    	<article>
            <p>we are a space where<br>engineers works under one roof<br>with designers & thinkers</p>
    	</article>
    </section>
    <section class="third">
        <div class="position" id="service"></div>
    	<article>
            <h2>services</h2>
            <p>we cover anything that is needed for your digital presence</p>
            <ul>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
                <li><a href="" title="" class=""></a></li>
            </ul>
    	</article>
    </section>
    <section class="fourth">
        <section>
            <div class="position" id="aboutUs"></div>
            <article>
                <h2>talking about us</h2>
                <div class="box_50">
                    <p>Bulum iaculis lacinia est. Proin dictum elemntum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit met consectetuer adipiscing elit. Ellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
                    <p>Nulla vene natis. In pede mi aliquet sit amet euismod in auctor ut ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor lobortis quis lobortis dignissim pulvinar ac lorem. Vestibulum sed ante. Donec sagittis euismod pured ut perspiciatis unde omnis iste natus errouptatem accusa ntium doloremque laudantium tota.</p>
                </div>
                <div class="box_50">
                    <p>Nulla vene natis. In pede mi aliquet sit amet euismod in auctor ut ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor lobortis quis lobortis dignissim pulvinar ac lorem. Vestibulum sed ante. Donec sagittis euismod pured ut perspiciatis unde omnis iste natus errouptatem accusa ntium doloremque laudantium tota.</p>
                    <p>Bulum iaculis lacinia est. Proin dictum elemntum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit met consectetuer adipiscing elit. Ellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
                </div>
                <article>
                    <a href="" title="" class="btn">more</a>
                </article>
            </article>
        </section>
        <section class="transparent">
            <article>
                <div class="box_50">
                    <p>
                        <span class="pink pHundred">7+</span><br>
                        anos online<br>
                        <span class="pink">__</span><br><br>
                        <span class="font_light">
                            Online a mais de 7 anos<br>
                            com muita dedicação<br>
                            e companheirismo
                        </span>
                    </p>
                </div>
                <div class="box_50">
                    <p>
                        <span class="pink pHundred">11</span><br>
                        prêmios<br>
                        <span class="pink">__</span><br><br>
                        <span class="font_light">
                            Excelência em todos os seus<br>
                            trabalhos pelo mundo.<br>
                            Muito reconhecido!
                        </span>
                    </p>
                </div>
                <div class="box_50">
                    <p>
                        <span class="pink pHundred">23</span><br>
                        clientes satisfeitos<br>
                        <span class="pink">__</span><br><br>
                        <span class="font_light">
                            Perfeição em trabalhos para<br>
                            mais de 23 clientes<br>
                            diferentes.
                        </span>
                    </p>
                </div>
            </article>
        </section>
        <section class="projects">
            <div class="position" id="jobs"></div>
            <article>
                <h2>projects</h2>
                <p>these are some of our projects,<br>if you want more...</p>
                <article>
                    <a href="" title="" class="btn">more</a>
                </article>
            </article>
        </section>
        <section class="block_work">
            <ul>
                <li><a href="" title="">1</a></li>
                <li><a href="" title="">2</a></li>
                <li><a href="" title="">3</a></li>
                <li><a href="" title="">4</a></li>
                <li><a href="" title="">5</a></li>
                <li><a href="" title="">6</a></li>
                <li><a href="" title="">7</a></li>
                <li><a href="" title="">8</a></li>
                <li><a href="" title="">9</a></li>
                <li><a href="" title="">10</a></li>
                <li><a href="" title="">11</a></li>
                <li><a href="" title="">12</a></li>
                <li><a href="" title="">13</a></li>
                <li><a href="" title="">14</a></li>
                <li><a href="" title="">15</a></li>
                <li><a href="" title="">16</a></li>
            </ul>
        </section>
    </section>
    <section class="fifty">
        <div class="position" id="clients"></div>
        <section class="opacity clients">
            <article>
                <h2>clients</h2>
                <ul>
                    <li><a href="" title="" class="">a</a></li>
                    <li><a href="" title="" class="">a</a></li>
                    <li><a href="" title="" class="">a</a></li>
                    <li><a href="" title="" class="">a</a></li>
                    <li><a href="" title="" class="">a</a></li>
                    <li><a href="" title="" class="">a</a></li>
                </ul>
                <p>“HashTowers proved to be a great partner that provides complex solutions using the latest technologies. They adapt quickly and are great at handling tight turnarounds.”</p>
            </article>
        </section>
    </section>
    <section class="sixth">
        <div class="position" id="contact"></div>
        <section class="opacity contact">
            <article>
                <h2>hello</h2>
                <form name="nomedoform" method="post" action="">
                    <input type="text" value="name" name="name" class="name" maxlength="1000" onblur="if(this.value == '') {this.value = 'name';}" onfocus="if(this.value == 'name') {this.value = '';}">
                    <input type="text" value="email" name="email" class="email" maxlength="1000" onblur="if(this.value == '') {this.value = 'email';}" onfocus="if(this.value == 'email') {this.value = '';}">
                    <textarea name="mensage" value="mensage" class="mensage" maxlength="1000"></textarea>
                    <input name="contato" type="button" value="more">
                </form>
                <p>
                    give us a call <strong>+55 11 991 065 485</strong><br>
                    direct email <a href="" title="">hello@hashtowers.com</a>
                </p>
            </article>
        </section>
    </section>
    <section class="seventh">
        <section class="opacity">
            <article>
                <h2>clients around the world</h2>
                <aside></aside>
            </article>
        </section>
        <footer class="opacity" id="more">
            <section>
                <article>
                    <ul class="ht_info">
                        <li>7</li>
                        <li>10</li>
                        <li>23</li>
                    </ul>
                    <ul class="networks">
                        <li><a href="" title=""></a></li>
                        <li><a href="" title=""></a></li>
                        <li><a href="" title=""></a></li>
                    </ul>
                    <div class="language select_foot">
                        <div class="ico"></div>
                        <select>
                            <option value="0">United States - English</option>
                            <option value="1">Brasil - Português</option>
                        </select>
                    </div>
                    <p> •  © 2014  •  Todos Direitos Reservados  •  <a href="" title="">Termos de Privacidade</a></p>
                </article>
            </section>
        </footer>
    </section>
{% endblock %}