{% block content %}
    <section class="first"></section>
    <nav></nav>
    <section class="second"></section>
    <section class="third"></section>
    <section class="fourth"></section>
{% endblock %}