{% block content %}
    <section class="first">
    	<article>
            <div class="language">
                <div class="ico"></div>
                <select>
                    <option value="0">United States - English</option>
                    <option value="1">Brasil - Português</option>
                </select>
            </div>
    		<h1><a href="" title="Hash Towers">Hash Towers</a></h1>
    		<ul>
    			<li><a href="" title="Twitter">Twitter</a></li>
    			<li><a href="" title="Facebook">Facebook</a></li>
    			<li><a href="" title="Google Plus">Google Plus</a></li>
    			<li><a href="" title="Linkedin">Linkedin</a></li>
    		</ul>
    	</article>
    </section>
    <nav class="main">
    	<article>
	    	<ul>
	    		<li><a href="" title="">service</a></li>
	    		<li><a href="" title="">about us</a></li>
	    		<li><a href="" title="">jobs</a></li>
	    		<li><a href="" title="">clients</a></li>
	    		<li><a href="" title="">and more</a></li>
	    	</ul>
	    	<a href="" title="" class="contact">contact</a>
    	</article>
    </nav>
    <section class="second">
    	<article>
            <p>we are a space where<br>engineers works under one roof<br>with designers & thinkers</p>
    	</article>
    </section>
    <section class="third">
    	<article>
            <h2>services</h2>
            <p>we cover anything that is needed for your digital presence</p>
            <ul>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
                <li><a href="" title=""></a></li>
            </ul>
    	</article>
    </section>
    <!--
        ===========================================================================
        Parado Aqui: *** RETIRAR COMENTÁRIO ***
        ---------------------------------------------------------------------------
        
        Estamos desenvolvendo a parte onde a imagem do background da seção 3, 4 e 5
        fica fixada na section principal (fourth), alterando apenas quando a 
        próxima section principal (fifty) chegar na base do browser.
    -->
    <section class="fourth">
        <section></section>
        <section class="transparent"></section>
        <section></section>
    </section>
    <section class="fifty">
        <section></section>
        <section class="transparent"></section>
        <section></section>
    </section>
{% endblock %}